---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import TrustAndTeam from '../components/TrustAndTeam.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout title="Centro Veterinario & Pet Shop Premium">
	<Header />
	<main>
		<Hero />
    <Services />
    <Products />
    <TrustAndTeam />
    <Experience />
	</main>
	<Footer />
</MainLayout>
